html {
  background-repeat: no-repeat;
  background-image: url('https://www.xtrafondos.com/wallpapers/vertical/cielo-estrellado-en-montanas-nevadas-3355.jpg');
  background-size: 100%;
  -webkit-filter: hue-rotate(330deg);
  filter: hue-rotate(330deg);
  display: flex;
  background-position: center center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 40px;
    color:white;
    
}

.encabezado {
    text-align: center;
}

#nombre {
    font-size: 25px;
}

#curriculum {
    font-size: 35px;
}


.info-rrss {
    background-color: rgb(255, 182, 35);
    border-radius: 10px;
    /* min-height: 100px; */
  
  }
  
  .rrss {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  
  .rrss a {
    color: white;
    text-decoration: none;
  }
  
  .rrss i {
    padding: 10px;
    transform: scale(1.5);
  }
  .rrss i:hover {
    transform: scale(2)
  }


img{
    box-sizing: content-box;
    width: 75px;
}

img:hover {
    transform: scale(1.2)
}
.oculto {
  display: none;
}

.hover:hover {
  transform: scale(1.5);
}

/* #otraInfo {
  display: none;
}

#otrosmeritos{
  display: none;
}

#participacionproyectos {
  display: none;
}

#meritosinvestigacion {
  display: none;
}

#formacionacademica {
  display: none;
} */
  
  @media all and (min-width: 520px) {
    .info-container {
      display: flex;
    }
  
    .rrss {
      flex-direction: row;
      justify-content: space-around;
      max-width: 500px;
      margin: 0 auto;
      padding: 20px 0;
    }
  
    .rrss li {
      display: flex;
      flex-direction: row;
    }
  
    .personal-info {
      margin-left: 30px;
    }
  }

  @media all and (max-width: 520px) {
    .info-container {
      display: flex;
    }
  
    .rrss {
      flex-direction: row;
      justify-content: space-around;
      max-width: 500px;
      margin: 0 auto;
      padding: 20px 0;
    }
  
    .rrss li {
      display: flex;
      flex-direction: row;
    }
  
    .personal-info {
      margin-left: 30px;
    }

    .info-rrss {
        display: none;
    }
  }
  /* @media all and (max-width: 1200px) {
    background-image: none;
    background-color: rgb(102, 69, 211); */